.imgContainer{
    display: grid;
    place-items: center;
    object-fit: cover;
    img{
        width: 80%;
    }
}

.Moon{
    background: url('../../../assets/destination/image-moon.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
    height: 50%;
}

.Mars{
    @extend .Moon;
    background: url('../../../assets/destination/image-mars.png');
    background-repeat: no-repeat;
}
.Europa{
    background: url('../../../assets/destination/image-europa.png');
    background-repeat: no-repeat;
    @extend .Moon;
}
.Titan{
    background: url('../../../assets/destination/image-titan.png');
    background-repeat: no-repeat;
    width: 400px;
    height: 500px;
}