.imgContainer{
    display: grid;
    place-items: center;
    object-fit: cover;
    img{
        width: 80%;
    }
}
.Planet{
    object-fit: cover;
    width: 100%;
    height: 100%
}
.Moon{
    @extend .Planet;
    background: url('../../../assets/destination/image-moon.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}

.Mars{
    @extend .Planet;
    background: url('../../../assets/destination/image-mars.png');
    background-repeat: no-repeat;
}
.Europa{
    @extend .Planet;
    background: url('../../../assets/destination/image-europa.png');
    background-repeat: no-repeat;
    @extend .Moon;
}
.Titan{
    @extend .Planet;
    background: url('../../../assets/destination/image-titan.png');
    background-repeat: no-repeat;
}